@import "/home/theo/.config/systemcolors/colors.css";

* {
	font-family:
		"JetBrainsMono Nerd Font";
}



tooltip {
	color: @foreground;
	background-color: @background;
	font-weight: 800;
}



#custom-archlogo {
	font-weight: 800;
	font-size: 2.2em;
	border-radius: 10px;
	color: @foreground;
	background-color: @background;
	padding: 0px 17px 0px 10px;
	margin-left: 15px;
}



window#waybar {
	background-color: transparent;
	transition-property: background-color;
	transition-duration: 0.5s;
	border-radius: 0;
}

window#waybar > box {
	padding: 5px 0;
}

#workspaces {
	font-weight: 800;
	margin-right: 5px;
	margin-left: 5px;
	font-size: 1.2em;
	background-color: transparent;
	color: @inactive;
	border-radius: 5px;
}

#workspaces button{
	padding: 10px 15px;
	color: inherit;
	background-color: @background;
	transition: 0.35s ease-out;
	border-radius: 0;

	border: none;
    box-shadow: none;
    text-shadow: none;
    background-image: none;
}

#workspaces button:hover{
	border-color: transparent;
	color: @foreground-dark;
}

#workspaces button.active {
	color: @foreground;
}


#workspaces button:last-child {
	border-radius: 0px 10px 10px 0px; 
}

#workspaces button:first-child {
	border-radius: 10px 0px 0px 10px;
	padding: 10px 18px 10px 12px;
}

#workspaces button:nth-child(2) {
	padding: 10px 16px 10px 13px;
}

#workspaces button:nth-child(3) {
    font-size: 1em;
	padding: 10px 15px 10px 15px;
}

#workspaces button:nth-child(4) {
	padding: 10px 17px 10px 13px;
}


#window {
	font-weight: 800;
	padding: 10px 15px;
	color: @foreground;
	background-color: @background;
	border-radius: 10px;
	font-size: 1.2em;
}



#custom-wttrbar {
	font-weight: 600;
	padding: 10px 15px;
	color: @foreground;
	background-color: @background;
	border-radius: 10px;
	font-size: 1.2em;
}




#time {
	font-weight: 600;
	font-size: 1.2em;
	border-radius: 10px;
	color: @foreground;
	background-color: transparent;
}

#clock.date {
	border-radius: 10px 0 0 10px;
	padding: 10px 8px 10px 15px;
	background-color: @background;
	color: @foreground;
}

#clock {
	padding: 10px 15px 10px 7px;
	border-radius: 0 10px 10px 0;
	background-color: @background;
}


/* 
 *       Right side widgets
 */

 /*--------------------- SPOTIFY DRAWER ------------------------*/

#music {
	background-color: @background;
	border-radius: 10px;
	margin-left: 5px;
}

#custom-spotify-logo, #custom-title-text {
	font-weight: 800;
	font-size: 1.2em;
	color: @foreground;
	transition-property: color;
	transition-duration: 0.2s;
	padding: 0px 0px 0px 10px;
}
#custom-title-text{
	font-size: 0.8em;
}

#custom-spotify-logo {
	padding: 10px 20px 10px 15px;
}

#custom-spotify-logo:hover {
	color: @inactive;
}


 /*--------------------- CONNECTIONS ------------------------*/

#connections {
	margin-left: 5px;
	margin-right: 5px;
	font-weight: 600;
	border-radius: 10px;
	color: @foreground;
	background-color: transparent;
	font-size: 1em;
}

#bluetooth {
	color: @foreground;
	background-color: @background;
	padding: 10px 12px 10px 15px;
	border-radius: 10px 0 0 10px;
	font-size: 1.2em;
	transition: 0.2s ease-out;
}

#bluetooth:hover {
	color: @inactive;
}

#network.state {
	color: @foreground;
	background-color: @background;
	padding: 5px 22px 5px 10px;
	border-radius: 0 10px 10px 0;
	font-size: 1.3em;
	transition: 0.2s ease-out;
}

#network.state:hover {
	color: @inactive
}

/*--------------------- AUDIO ------------------------*/

#audio {
	font-weight: 600;
	font-size: 1.2em;
	border-radius: 10px;
	color: @foreground;
	background-color: @background;
}

#pulseaudio.audio {
	border-radius: 10px 0 0 10px;
	padding: 10px 20px 10px 10px;
	transition: 0.2s ease-out;
}

#pulseaudio.audio:hover {
	color: @inactive;
}

#wireplumber {
	color: @foreground;
	padding: 10px 15px 10px 8px;
	border-radius: 0 10px 10px 0;
	transition: 0.2s ease-out;
}

#wireplumber:hover {
	color: @inactive;	
}

#wireplumber.muted {
	padding: 10px 16px 10px 7px;
}

/*--------------------- SYSTEM ------------------------*/

#system {
	margin-left: 5px;
	margin-right: 5px;
	font-weight: 600;
	font-size: 1.2em;
	border-radius: 10px;
	color: @foreground;
	background-color: @background;
}

#cpu {
	padding: 10px 10px 10px 15px;
}

#memory {
	padding: 10px 20px 10px 5px;
}

/*--------------------- BATTERY ------------------------*/

#battery {
	color: @foreground;
	background-color: @background;
	padding: 10px 15px;
	transition: 0.35s ease-out;
	font-size: 1.2em;
	font-weight: 600;
	border-radius: 10px;
}

#battery.charging {
	color: @background;
	background-color: @foreground-dark;
}

/*--------------------- POWER ------------------------*/

#custom-power {
	margin-left: 5px;
	font-weight: 800;
	font-size: 1.2em;
	border-radius: 10px;
	color: @foreground;
	background-color: @background;
	padding: 10px 19px 10px 15px;
	margin-right: 15px;
	transition-property: color;
	transition-duration: 0.2s;
}

#custom-power:hover {
	color: @inactive;
}

#custom-power:not(:hover) {
	background-color: @background;
}

#custom-power-menu {
	font-weight: 800;
	font-size: 1.2em;
	border-radius: 10px;
	color: @foreground;
	background-color: @background;
	padding: 10px 19px 10px 15px;
}

/*--------------------- POWER DRAWER ------------------------*/

#group-power {
	background-color: @background;
	border-radius: 10px;
	margin-right: 15px;
	margin-left: 5px;
}

#custom-power2, #custom-quit, #custom-lock, #custom-reboot {
	font-weight: 800;
	font-size: 1.2em;
	color: @foreground;
	transition-property: color;
	transition-duration: 0.2s;
	padding: 0px 19px 0px 15px;
}

#custom-power2:hover , #custom-quit:hover, #custom-lock:hover, #custom-reboot:hover {
	color: @inactive;
}
